<div id="<%= dom_id wiki_animal %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= wiki_animal.name %>
  </p>

  <p>
    <strong>Latin:</strong>
    <%= wiki_animal.latin %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= wiki_animal.title %>
  </p>

  <p>
    <strong>Wiki url:</strong>
    <%= wiki_animal.wiki_url %>
  </p>

  <p>
    <strong>Short taxo:</strong>
    <%= wiki_animal.short_taxo %>
  </p>

  <p>
    <strong>Wiki description:</strong>
    <%= wiki_animal.wiki_description %>
  </p>

  <p>
    <strong>Internal description:</strong>
    <%= wiki_animal.internal_description %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= wiki_animal.version %>
  </p>

</div>
